<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Diseño Web a la Medida & Estrategias de Marketing con Sentido</h2>
                <hr class="light">
                <p class="text-faded">Digitaliza tu proyecto con buen código y buenas practicas de marketing. 10 años de experiencia en diseño web y publicidad digital, Google Ads, Facebook Ads y Display. </p>
                <a href="#contact" class="btn btn-default btn-xl">¡Empieza aquí!</a>
            </div>
        </div>
    </div>
</section>
