<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Online Marketing Consultant in Barcelona</h1>
            <hr>
            <p>Diseño e implementación de estrategias digitales para la adquisición de tráfico en los canales principales SEO / SEM / Paid Social.</p>
            <p>Desarrollo frontend para webs de todo tipo. Trabajo con amplia flexibilidad en diversos tipos de frameworks (Bootstrap, Foundation, React) y CMS (Wordpress, Joomla, Magento, Prestashop). </p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Descubre más :]</a>
        </div>
    </div>
</header>
