<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Front-End Developer & Marketing Consultant in Barcelona</h1>
            <hr>
            <p>Profesional del mundo digital enfocado en el desarollo frontend para webs de todo tipo. Trabajo con amplia flexibilidad en diversos tipos de frameworks (Bootstrap, Foundation, React) y CMS (Wordpress, Joomla, Magento, Prestashop). <br>
            Y como hoy en día no se puede vivir sin marketing tambien trabajo en diseño e implementación de estrategias digitales para la adquisición de tráfico en los canales principales SEO / SEM / Paid Social.</p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Descubre más :]</a>
        </div>
    </div>
</header>
