<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Servicios</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-screwdriver wow bounceIn text-primary"></i>
                    <h3>Webs de Fácil Mantenimiento</h3>
                    <p class="text-muted">Diseño a la medida para tus necesidad personales o comerciales.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Estrategia de Marketing</h3>
                    <p class="text-muted">Diseño e implementación de publicidad digital y marketing en las principales redes.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-globe-americas wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Localización</h3>
                    <p class="text-muted">Diseño web multilingüe español/inglés/japonés.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-search wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>SEO Ready</h3>
                    <p class="text-muted">Diseño web para durar y para ser encontrado por Google.</p>
                </div>
            </div>
        </div>
    </div>
</section>
